.root{
    -fx-background-color: #ffeba9;
}

.title{
    -fx-background-color: #cdb273;
    -fx-padding: 15px;
    -fx-background-radius: 45px;
}

.custom_button{
    -fx-background-color: #8fdfff;
}

.input{
    -fx-background-color: #e8c982;
}

.color-picker *, .color-picker{
    -fx-background-color: #e8c982;
}
